# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# Dataset
data/

# Checkpoints
checkpoints/
*.pth
*.pt

# Logs
logs/
runs/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db